In [0]:
# Execute plot() inline without calling show()
%matplotlib inline
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv('phishing_dataset.csv')

y = df.iloc[:, -1].values

X = df.iloc[:, :-1].values

In [66]:
df.tail()

       -1  1  1.1  1.2  -1.1  -1.2  ...  -1.13  -1.14  1.11  1.12  -1.15  -1.16
11049   1 -1    1   -1     1     1  ...     -1     -1     1     1      1      1
11050  -1  1    1   -1    -1    -1  ...      1      1     1    -1      1     -1
11051   1 -1    1    1     1    -1  ...      1     -1     1     0      1     -1
11052  -1 -1    1    1     1    -1  ...      1     -1     1     1      1     -1
11053  -1 -1    1    1     1    -1  ...     -1     -1    -1     1     -1     -1

[5 rows x 31 columns]

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
         X, y, test_size=0.3, random_state=0)

In [68]:
from sklearn.linear_model import Perceptron
#eta0 threshold of error
p = Perceptron(max_iter=50, eta0=0.7, random_state=0)
p.fit(X_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.7,
           fit_intercept=True, max_iter=50, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
y_pred = p.predict(X_test)

In [70]:
from sklearn.metrics import accuracy_score
#redundant and necessary
print('Misclassified samples: %d' % (y_test != y_pred).sum())
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Misclassified samples: 264
Accuracy: 0.92